.admin-properties{
    .property-details{
        height: 99px;
    }
    .property-icon{
        font-size: 45px;
    }
    .card-actions{
        .action-btn{
            font-size: 10px !important;
        }
    }
}